.center {
  text-align: center;
}

#homepage-search-form {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#dish-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

#title {
  color: #e5e5e5;
}